name: Windows Release

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Configure
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release -DPLATFORM=win32

    - name: Build
      run: cmake --build build --config Release -j $env:NUMBER_OF_PROCESSORS

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: build/Release/khala.exe
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}